# If we are a computer with nix available, then use that to setup
# the build environment with exactly what we need.
if has nix; then
    use flake --impure
fi

# Load dotenv file
dotenv_if_exists

# Warn if GITHUB_TOKEN is not set
env_vars_required GITHUB_TOKEN

# Set default GitHub owner if not set
export GITHUB_OWNER=${GITHUB_OWNER:-"shikanime"}
