name: Build
on:
  workflow_run:
    workflows:
      - check
    branches:
      - main
    types:
      - completed
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: shikanime-studio/setup-nix-action@v1
        with:
          extra-platforms: aarch64-linux
          github-token: ${{ secrets.NIX_GITHUB_TOKEN }}
      - run: |
          nix develop --accept-flake-config --impure .#build --command skaffold \
            build --platform linux/amd64,linux/arm64 --build-image ghcr.io/shikanime/shikanime/oceando
