name: Land
on:
  issue_comment:
    types:
      - created
jobs:
  land:
    runs-on: ubuntu-latest
    steps:
      - uses: shikanime/ghstack-action@v1
        with:
          app-id: ${{ vars.OPERATOR_APP_ID }}
          private-key: ${{ secrets.OPERATOR_PRIVATE_KEY }}
