name: Land
on:
  issue_comment:
    types:
      - created
jobs:
  land:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: DeterminateSystems/nix-installer-action@v20
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - uses: shikanime-studio/sapling-action@v3
        with:
          sign-commits: true
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}}
          gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}
