jobs:
  build:
    - id: createGithubAppToken
      uses: actions/create-github-app-token@v2
      with:
        app-id: ${{ vars.OPERATOR_APP_ID }}
        private-key: ${{ secrets.OPERATOR_PRIVATE_KEY }}
        repositories: identities,shikanime
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        token: ${{ steps.createGithubAppToken.outputs.token }}
    - uses: shikanime-studio/setup-nix-action@v1
      with:
        github-token: ${{ steps.createGithubAppToken.outputs.token }}
    - uses: docker/login-action@v3
      with:
        password: ${{ secrets.GITHUB_TOKEN }}
        registry: ghcr.io
        username: ${{ github.actor }}
    - run:
        nix develop --accept-flake-config --impure nixpkgs#skaffold --command skaffold
        build --platform linux/amd64,linux/arm64
  check:
    runs-on: ubuntu-latest
    steps:
      - id: createGithubAppToken
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.OPERATOR_APP_ID }}
          private-key: ${{ secrets.OPERATOR_PRIVATE_KEY }}
          repositories: identities,shikanime
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ steps.createGithubAppToken.outputs.token }}
      - uses: shikanime-studio/setup-nix-action@v1
        with:
          github-token: ${{ steps.createGithubAppToken.outputs.token }}
      - uses: shikanime-studio/direnv-action@v2
      - run: nix flake check --accept-flake-config --all-systems --no-pure-eval
name: Push
"on":
  push:
    branches:
      - main
      - release-*
