jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - id: createGithubAppToken
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.OPERATOR_APP_ID }}
          private-key: ${{ secrets.OPERATOR_PRIVATE_KEY }}
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ steps.createGithubAppToken.outputs.token }}
      - env:
          GITHUB_TOKEN: ${{ steps.createGithubAppToken.outputs.token }}
        run:
          gh release create ${{ github.ref_name }} --repo ${{ github.repository }}
          --generate-notes
name: Release
"on":
  push:
    tags:
      - v?[0-9]+.[0-9]+.[0-9]+*
