name: Triage
on:
  pull_request:
    types:
      - opened
      - synchronize
  check_suite:
    types:
      - completed
jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
      - id: createGithubAppToken
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.OPERATOR_APP_ID }}
          private-key: ${{ secrets.OPERATOR_PRIVATE_KEY }}
      - if: |
          github.event.pull_request.user.login == 'yorha-operator-6o[bot]' ||
          github.event.pull_request.user.login == 'dependabot[bot]'
        uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{ steps.createGithubAppToken.outputs.token }}
          labels: dependencies
      - if: github.event_name == 'check_suite' && github.event.check_suite.conclusion == 'success'
        run: |
          gh pr comment ${{ github.event.pull_request.number }} \
            --body ".land"
        env:
          GITHUB_TOKEN: ${{ steps.createGithubAppToken.outputs.token }}
