name: Update
on:
  schedule:
    - cron: 0 0 * * 0
  workflow_dispatch: null
jobs:
  update:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: DeterminateSystems/nix-installer-action@v20
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - run: |
          nix flake update \
            --accept-flake-config
          nix develop --accept-flake-config --impure .#update --command sl \
            config \
            --local ui.username="GitHub Actions Bot <github-actions[bot]@users.noreply.github.com>"
          nix develop --accept-flake-config --impure .#update --command sl \
            ci \
            --message "Update Flake"
          nix develop --accept-flake-config --impure .#update --command sl \
            ghstack
