name: Update
on:
  schedule:
    - cron: 0 0 * * 0
  workflow_dispatch: null
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - id: createGithubAppToken
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.OPERATOR_APP_ID }}
          private-key: ${{ secrets.OPERATOR_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ steps.createGithubAppToken.outputs.token }}
      - uses: DeterminateSystems/nix-installer-action@v20
        with:
          github-token: ${{ steps.createGithubAppToken.outputs.token }}
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - env:
          GITHUB_TOKEN: ${{ steps.createGithubAppToken.outputs.token }}
        run: |
          nix flake update \
            --accept-flake-config
          nix develop --accept-flake-config --impure .#update --command sl \
            config \
            --local ui.username="Operator 6O <operator-60@shikanime.studio>"
          nix develop --accept-flake-config --impure .#update --command sl \
            ci \
            --message "Update Flake"
          nix develop --accept-flake-config --impure .#update --command sl \
            ghstack
