jobs:
  wakabox:
    runs-on: ubuntu-latest
    steps:
      - env:
          GH_TOKEN: ${{ secrets.WAKABOX_GITHUB_TOKEN }}
          GIST_ID: ${{ vars.WAKABOX_GITHUB_GIST_ID }}
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
        uses: matchai/waka-box@v5.0.0
name: Wakabox
'on':
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch: {}
